@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Rubik', sans-serif;
}
body{
    background-color: #f0f1f5;
    height: 100vh;
}

header{
    background-color: #FFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    gap: 10px;
    padding: 0 20px;
    h1{
        color: #7c7c80;
    }
    .lastNameTitle{
        padding: 2px 4px;
        background-color: #d9d9eb;
        color: #7c7c80;
    }
    nav{
        ul{
            display: flex;
            align-items: center;
            gap: 50px;
            li{
                button{
                    cursor: pointer;
                }
                #buttonComments{
                    background-color: transparent;
                    border: none;
                    padding: 10px;
                    font-size: 14px;
                }
                #buttonProfile{
                    background-color: #6d6ff0;
                    border: none;
                    border-radius: 20px;
                    color: #FFF;
                    padding: 10px 25px;
                }
            }
        }
    }
}

main{
    background-color: #d9d9eb;
    width: 65vw;
    height: 589px;
    margin: 0 auto;
    ul{
        width: 100%;
        max-height:414px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        overflow-y: auto;
        padding: 15px 0 0 10px;
        &::-webkit-scrollbar{
            display: none;
        }
        li{
            display: flex;
            flex-direction: column;
            align-items: center;
            min-width: 500px;
            max-width: 650px;
            min-height: 120px;
            max-height: 250px;
            background-color: #FFFFFF;
            padding: 7px 15px 7px 7px;
            border-radius: 10px;
            #commentHeader{
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                #profileAndPostingTime{
                    display: flex;
                    gap: 10px;
                    #name{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        height: 50px;
                    }
                    #postingTime{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        height: 50px;
                        color: rgb(166, 168, 172);
                        font-style: italic;
                        font-size: 13px;
                    }
                    #check{
                        display: none;
                        width: 30px;
                        height: 30px;
                        margin-top: 10px;
                        cursor: pointer;
                    }
                    #edit{
                        width: 14px;
                        height: 14px;
                        margin-top: 18px;
                        padding-left: 6px;
                        cursor: pointer;
                    }
                    #delet{
                        width: 12px;
                        height: 14px;
                        margin-top: 18px;
                        padding-left: 6px;
                        cursor: pointer;
                    }
                }
                #divReply{
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    color: #585ad4;
                    font-weight: bold;
                    cursor: pointer;
                    .reply{
                        width: 21px;
                        height: 20px;
                    }
                }
            }
            
        }
        #line{
            min-width: 200px;
            max-width: 500px;
            min-height: 120px;
            max-height: 250px;
            background-color: transparent;
            border-left: #bdbdc2 1px solid;
            border-radius: 0;
            #replyComment{
                position: relative;
                left: 49px;
                display: flex;
                flex-direction: column;
                align-items: center;
                min-width: 400px;
                max-width: 500px;
                min-height: 120px;
                max-height: 250px;
                background-color: #FFFFFF;
                padding: 7px 15px 7px 7px;
                border-radius: 10px;
                #replycommentHeader{
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    #replyProfileAndResponsePostingTime{
                        display: flex;
                        gap: 10px;
                    }
                    #replyName{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        height: 50px;
                    }
                    #replyPostingTime{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        height: 50px;
                        color: rgb(166, 168, 172);
                        font-style: italic;
                        font-size: 13px;
                    }
                    #replyCheck{
                        display: none;
                        width: 30px;
                        height: 30px;
                        margin-top: 10px;
                        cursor: pointer;
                    }
                    #replyEdit{
                        width: 14px;
                        height: 14px;
                        margin-top: 18px;
                        padding-left: 6px;
                        cursor: pointer;
                    }
                    #replyDelet{
                        width: 12px;
                        height: 14px;
                        margin-top: 18px;
                        padding-left: 6px;
                        cursor: pointer;
                    }
                }
                #replyCommentText{
                    width: 100%;
                    height: 60%;
                    word-wrap: break-word;
                    padding: 10px;
                    #replyUserName{
                        font-size: 13px;
                        color: #afb0f0;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}

#commentText{
    width: 100%;
    height: 60%;
    word-wrap: break-word;
    padding: 10px;
    #userName{
        font-size: 13px;
        color: #afb0f0;
        cursor: pointer;
    }
}
#darkFun{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 998;
  }
#pop-up{
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 26px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    height: 165px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    z-index: 999;
    background-color: #FFF;
    text-align: left;
    padding: 15px;
    font-size: 14px;
    #textpopUp{
        color: gray;
    }
    #buttonsPopUp{
        display: flex;
        justify-content: space-around;
        #confirmDelet, #confirmCancel{
            padding: 10px;
            width: 90px;
            cursor: pointer;
            border: none;
            border-radius: 6px;
        }
        #confirmDelet{
            background-color: #ED6468;
            color: #FFF;
        }
        #confirmCancel{
            background-color: #4a4a4d;
            color: #FFF;
        }
    }
}

#profilePicture{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
}
#replyProfilePicture{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.createComment{
    position: absolute;
    bottom: 22px;
    left: 328px;
    width: 52vw;
    height: 130px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #FFF;
    #addComment{
        width: 480px;
        height: 100px;
        border: solid rgb(213, 214, 216) 1px;
        text-align: left;
        background-color: #FFF;
        padding: 4px 6px;
        resize: none;
        font-size: 17px;
        &::placeholder{
            font-size: 18px;
            padding-left: 5px;
        }
        &:focus{
            padding-top: 5px;
            outline: none;
            caret-color: gray;
        }
    }
    #sendComment{
        width: 90px;
        height: 50px;
        cursor: pointer;
        color: #FFF;
        font-size: 17px;
        background-color: #6d6ff0;
        border: none;
        border-radius: 30px;
    }

    #newSend{
        display: none;
        width: 90px;
        height: 50px;
        cursor: pointer;
        color: #FFF;
        font-size: 17px;
        background-color: #6d6ff0;
        border: none;
        border-radius: 30px;
    }
}