@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");
body.dracula {
  --bg-body-color: #d7c0f7;
  --bg-header: #282a43;
  --font-color: #FFF;
  --bg-popUp-setting: #282a43;
  --bg-popUp: #181a1b;
  --bg-main-li: #282a43;
  --bg-replyComment: #282a43;
  --bg-creatComment: #282a43;
  --font-color-primary: #181a1b;
  --h1-header-color: #FFF;
  --h1-bg-color: #d7c0f7;
  --bg-hover-popUp-setting: #2f3146;
  --bg-main: #373a59;
  --button-color: #5a5757;
  --button-color-hover: #413e3e;
  --color-postingTime: #A6A8AC;
  --color-divReply: #c5c5cc;
  --border-left-line: #d7c0f7;
  --color-userName: #c5c5cc;
  --text-popUp-color: #808080;
  --button-confirmDelet: #ED6468;
  --button-confirmCancel: #4a4a4d;
  --border-addComment: #d7c0f7;
}

body.purple {
  --bg-body-color: #f0f1f5;
  --bg-header: #FFF;
  --font-color: #000;
  --bg-popUp-setting: #FFF;
  --bg-popUp: #FFF;
  --bg-main-li: #FFF;
  --bg-replyComment: #FFF;
  --bg-creatComment: #FFF;
  --font-color-button: #FFF;
  --h1-header-color: #979191;
  --h1-bg-color: #d9d9eb;
  --bg-hover-popUp-setting: #d9d9eb;
  --bg-main: #d9d9eb;
  --button-color: #6d6ff0;
  --button-color-hover: #343de6;
  --color-postingTime: #A6A8AC;
  --color-divReply: #585ad4;
  --border-left-line: #3e40b1;
  --color-userName: #afb0f0;
  --text-popUp-color: #808080;
  --button-confirmDelet: #ED6468;
  --button-confirmCancel: #4a4a4d;
  --border-addComment: #d5d6d8;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Rubik", sans-serif;
  color: var(--font-color);
}

body {
  background-color: var(--bg-body-color);
  height: 100vh;
}

header {
  position: relative;
  background-color: var(--bg-header);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  gap: 10px;
  padding: 0 20px;
  z-index: 3;
}
header h1 {
  color: var(--h1-header-color);
  font-size: 32px;
}
header .lastNameTitle {
  padding: 2px 4px;
  color: var(--h1-header-color);
  background-color: var(--h1-bg-color);
}
header nav ul {
  display: flex;
  align-items: center;
  gap: 25px;
}
header nav ul li button {
  cursor: pointer;
}
header nav ul li #buttonComments, header nav ul li #buttonSttings {
  background-color: transparent;
  border: none;
  padding: 10px;
  font-size: 15px;
}
header nav ul li #buttonProfile {
  background-color: var(--button-color);
  border: none;
  border-radius: 20px;
  color: var(--font-color-button);
  padding: 10px 25px;
  font-size: 15px;
  transition: 0.5s;
}
header nav ul li #buttonProfile:hover {
  background-color: var(--button-color-hover);
}

#popUpSettings {
  position: absolute;
  right: 168px;
  background-color: var(--bg-popUp-setting);
  width: 159px;
  height: 140px;
  transform: translateY(-198px);
  transition: transform 0.5s ease-in-out;
  z-index: 2;
}
#popUpSettings #listPopUpSettings {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#popUpSettings #listPopUpSettings .theme {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
}
#popUpSettings #listPopUpSettings li {
  cursor: pointer;
  font-size: 15px;
  width: 100%;
  text-align: center;
  padding: 13.5px 0;
  transition: 0.3s;
}
#popUpSettings #listPopUpSettings li #themeIcon {
  width: 25px;
  height: 25px;
}
#popUpSettings #listPopUpSettings li:hover {
  background-color: var(--bg-hover-popUp-setting);
  color: var(--font-color);
}

#listPopUpSettingsAux #listPopUpSettingsAuxFont, #listPopUpSettingsAux #listPopUpSettingsAuxLanguage {
  display: none;
  position: absolute;
  right: 42px;
  top: 121.5px;
  width: 126px;
  height: 17.5px;
  padding: 13.5px 0;
  text-align: center;
  cursor: pointer;
  font-size: 14px;
}
#listPopUpSettingsAux #listPopUpSettingsAuxLanguage {
  top: 166.5px;
  height: 18.5px;
}
#listPopUpSettingsAux #selectOptionSize, #listPopUpSettingsAux #selectOptionLanguage {
  width: 80%;
  text-align: center;
  border: none;
  border-radius: 6px;
  border: #FFF solid 1px;
  color: var(--font-color);
  background-color: var(--bg-popUp-setting);
  padding: 1.5px;
  appearance: none;
}
#listPopUpSettingsAux #selectOptionSize .optionFontSize, #listPopUpSettingsAux #selectOptionLanguage .optionFontSize {
  color: var(--font-color);
  padding: 1.5px;
}
#listPopUpSettingsAux #selectOptionSize .optionFontSize:hover, #listPopUpSettingsAux #selectOptionLanguage .optionFontSize:hover {
  background-color: #FFF;
}

main {
  position: relative;
  background-color: var(--bg-main);
  width: 65vw;
  height: 593px;
  margin: 0 auto;
}
main ul {
  margin: 0 auto;
  width: 84%;
  max-height: 414px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
  overflow-y: auto;
  padding: 15px 45px 0 10px;
}
main ul::-webkit-scrollbar {
  display: none;
}
main ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 500px;
  max-width: 650px;
  min-height: 120px;
  max-height: 250px;
  background-color: var(--bg-main-li);
  padding: 7px 15px 7px 7px;
  border-radius: 10px;
}
main ul li #commentHeader {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main ul li #commentHeader #profileAndPostingTime {
  display: flex;
  gap: 10px;
}
main ul li #commentHeader #profileAndPostingTime #name {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}
main ul li #commentHeader #profileAndPostingTime #postingTime {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  color: var(--color-postingTime);
  font-style: italic;
  font-size: 13px;
}
main ul li #commentHeader #profileAndPostingTime #check {
  display: none;
  width: 30px;
  height: 30px;
  margin-top: 10px;
  cursor: pointer;
}
main ul li #commentHeader #profileAndPostingTime #edit {
  width: 14px;
  height: 14px;
  margin-top: 18px;
  padding-left: 6px;
  cursor: pointer;
}
main ul li #commentHeader #profileAndPostingTime #delet {
  width: 12px;
  height: 14px;
  margin-top: 18px;
  padding-left: 6px;
  cursor: pointer;
}
main ul li #commentHeader #divReply {
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--color-divReply);
  font-weight: bold;
  cursor: pointer;
}
main ul li #commentHeader #divReply #reply {
  width: 21px;
  height: 20px;
  color: gray;
}
main ul li #commentHeader #divReply #textReply {
  color: var(--color-divReply);
}
main ul #line {
  display: flex;
  flex-direction: column;
  gap: 9px;
  padding-left: 40px;
  min-width: 200px;
  max-width: 500px;
  min-height: 120px;
  max-height: 1000px;
  background-color: transparent;
  border-left: var(--border-left-line) 1px solid;
  border-radius: 0;
}
main ul #line #replyComment {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 370px;
  max-width: 500px;
  min-height: 120px;
  max-height: 250px;
  background-color: var(--bg-replyComment);
  padding: 7px 15px 7px 7px;
  border-radius: 10px;
}
main ul #line #replyComment #replycommentHeader {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main ul #line #replyComment #replycommentHeader #replyProfileAndResponsePostingTime {
  display: flex;
  gap: 10px;
}
main ul #line #replyComment #replycommentHeader #replyName {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}
main ul #line #replyComment #replycommentHeader #replyPostingTime {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  color: var(--color-postingTime);
  font-style: italic;
  font-size: 13px;
}
main ul #line #replyComment #replycommentHeader #replyCheck {
  display: none;
  width: 30px;
  height: 30px;
  margin-top: 10px;
  cursor: pointer;
}
main ul #line #replyComment #replycommentHeader #replyEdit {
  width: 14px;
  height: 14px;
  margin-top: 18px;
  padding-left: 6px;
  cursor: pointer;
}
main ul #line #replyComment #replycommentHeader #replyDelet {
  width: 12px;
  height: 14px;
  margin-top: 18px;
  padding-left: 6px;
  cursor: pointer;
}
main ul #line #replyComment #replyCommentText {
  width: 100%;
  height: 60%;
  word-wrap: break-word;
  padding: 10px;
}
main ul #line #replyComment #replyCommentText #replyUserName {
  font-size: 13px;
  color: var(--color-userName);
  cursor: pointer;
}

#commentText {
  width: 100%;
  height: 60%;
  word-wrap: break-word;
  padding: 10px;
}
#commentText #userName {
  font-size: 13px;
  color: var(--color-userName);
  cursor: pointer;
}

#darkFun {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 998;
}

#pop-up {
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 26px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 250px;
  height: 165px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  z-index: 999;
  background-color: var(--bg-popUp);
  text-align: left;
  padding: 15px;
  font-size: 14px;
}
#pop-up #textpopUp {
  color: var(--text-popUp-color);
}
#pop-up #buttonsPopUp {
  display: flex;
  justify-content: space-around;
}
#pop-up #buttonsPopUp #confirmDelet, #pop-up #buttonsPopUp #confirmCancel {
  padding: 10px;
  width: 90px;
  cursor: pointer;
  border: none;
  border-radius: 6px;
}
#pop-up #buttonsPopUp #confirmDelet {
  background-color: var(--button-confirmDelet);
  color: var(--font-color);
}
#pop-up #buttonsPopUp #confirmCancel {
  background-color: var(--button-confirmCancel);
  color: var(--font-color);
}

#profilePicture {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

#replyProfilePicture {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.createComment {
  position: absolute;
  bottom: 22px;
  left: 328px;
  width: 52vw;
  height: 130px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--bg-creatComment);
}
.createComment #addComment {
  width: 480px;
  height: 100px;
  border: solid var(--border-addComment) 1px;
  text-align: left;
  background-color: var(--bg-creatComment);
  padding: 4px 6px;
  resize: none;
  font-size: 17px;
}
.createComment #addComment::placeholder {
  font-size: 18px;
  padding-left: 5px;
}
.createComment #addComment:focus {
  padding-top: 5px;
  outline: none;
  caret-color: gray;
}
.createComment #sendComment {
  width: 90px;
  height: 50px;
  cursor: pointer;
  color: var(--font-color-button);
  font-size: 17px;
  background-color: var(--button-color);
  border: none;
  border-radius: 30px;
  transition: 0.5s;
}
.createComment #sendComment:hover {
  background-color: var(--button-color-hover);
}
.createComment #newSend {
  display: none;
  width: 90px;
  height: 50px;
  cursor: pointer;
  color: var(--font-color-button);
  font-size: 17px;
  background-color: var(--button-color);
  border: none;
  border-radius: 30px;
  transition: 0.5s;
}
.createComment #newSend:hover {
  background-color: var(--button-color-hover);
}

/*# sourceMappingURL=style.css.map */
