@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Rubik", sans-serif;
}

body {
  background-color: #f0f1f5;
  height: 100vh;
}

header {
  position: relative;
  background-color: #FFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  gap: 10px;
  padding: 0 20px;
  z-index: 3;
}
header h1 {
  color: #7c7c80;
}
header .lastNameTitle {
  padding: 2px 4px;
  background-color: #d9d9eb;
  color: #7c7c80;
}
header nav ul {
  display: flex;
  align-items: center;
  gap: 25px;
}
header nav ul li button {
  cursor: pointer;
}
header nav ul li #buttonComments, header nav ul li #buttonSttings {
  background-color: transparent;
  border: none;
  padding: 10px;
  font-size: 14px;
}
header nav ul li #buttonProfile {
  background-color: #6d6ff0;
  border: none;
  border-radius: 20px;
  color: #FFF;
  padding: 10px 25px;
}

#popUpSettings {
  position: absolute;
  right: 168px;
  background-color: #FFF;
  width: 157px;
  height: 130px;
  transform: translateY(-130px);
  transition: transform 0.5s ease-in-out;
  z-index: 2;
}
#popUpSettings #listPopUpSettings {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#popUpSettings #listPopUpSettings li {
  cursor: pointer;
  font-size: 14px;
  width: 100%;
  text-align: center;
  padding: 13.5px 0;
  transition: 0.3s;
}
#popUpSettings #listPopUpSettings li:hover {
  background-color: #d9d9eb;
  color: #FFF;
}

#listPopUpSettingsAux {
  display: none;
  position: absolute;
  padding: 13.5px 0;
  width: 140px;
  text-align: center;
  right: 28px;
  top: 114px;
  background-color: #FFF;
  font-size: 14px;
  cursor: pointer;
  transition: 0.3s;
}
#listPopUpSettingsAux:hover {
  background-color: #d9d9eb;
  color: #FFF;
}

main {
  position: relative;
  background-color: #d9d9eb;
  width: 65vw;
  height: 589px;
  margin: 0 auto;
}
main ul {
  margin: 0 auto;
  width: 84%;
  max-height: 414px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
  overflow-y: auto;
  padding: 15px 45px 0 10px;
}
main ul::-webkit-scrollbar {
  display: none;
}
main ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 500px;
  max-width: 650px;
  min-height: 120px;
  max-height: 250px;
  background-color: #FFFFFF;
  padding: 7px 15px 7px 7px;
  border-radius: 10px;
}
main ul li #commentHeader {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main ul li #commentHeader #profileAndPostingTime {
  display: flex;
  gap: 10px;
}
main ul li #commentHeader #profileAndPostingTime #name {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}
main ul li #commentHeader #profileAndPostingTime #postingTime {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  color: rgb(166, 168, 172);
  font-style: italic;
  font-size: 13px;
}
main ul li #commentHeader #profileAndPostingTime #check {
  display: none;
  width: 30px;
  height: 30px;
  margin-top: 10px;
  cursor: pointer;
}
main ul li #commentHeader #profileAndPostingTime #edit {
  width: 14px;
  height: 14px;
  margin-top: 18px;
  padding-left: 6px;
  cursor: pointer;
}
main ul li #commentHeader #profileAndPostingTime #delet {
  width: 12px;
  height: 14px;
  margin-top: 18px;
  padding-left: 6px;
  cursor: pointer;
}
main ul li #commentHeader #divReply {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #585ad4;
  font-weight: bold;
  cursor: pointer;
}
main ul li #commentHeader #divReply .reply {
  width: 21px;
  height: 20px;
}
main ul #line {
  display: flex;
  flex-direction: column;
  gap: 9px;
  padding-left: 40px;
  min-width: 200px;
  max-width: 500px;
  min-height: 120px;
  max-height: 1000px;
  background-color: transparent;
  border-left: #bdbdc2 1px solid;
  border-radius: 0;
}
main ul #line #replyComment {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 370px;
  max-width: 500px;
  min-height: 120px;
  max-height: 250px;
  background-color: #FFFFFF;
  padding: 7px 15px 7px 7px;
  border-radius: 10px;
}
main ul #line #replyComment #replycommentHeader {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main ul #line #replyComment #replycommentHeader #replyProfileAndResponsePostingTime {
  display: flex;
  gap: 10px;
}
main ul #line #replyComment #replycommentHeader #replyName {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}
main ul #line #replyComment #replycommentHeader #replyPostingTime {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  color: rgb(166, 168, 172);
  font-style: italic;
  font-size: 13px;
}
main ul #line #replyComment #replycommentHeader #replyCheck {
  display: none;
  width: 30px;
  height: 30px;
  margin-top: 10px;
  cursor: pointer;
}
main ul #line #replyComment #replycommentHeader #replyEdit {
  width: 14px;
  height: 14px;
  margin-top: 18px;
  padding-left: 6px;
  cursor: pointer;
}
main ul #line #replyComment #replycommentHeader #replyDelet {
  width: 12px;
  height: 14px;
  margin-top: 18px;
  padding-left: 6px;
  cursor: pointer;
}
main ul #line #replyComment #replyCommentText {
  width: 100%;
  height: 60%;
  word-wrap: break-word;
  padding: 10px;
}
main ul #line #replyComment #replyCommentText #replyUserName {
  font-size: 13px;
  color: #afb0f0;
  cursor: pointer;
}

#commentText {
  width: 100%;
  height: 60%;
  word-wrap: break-word;
  padding: 10px;
}
#commentText #userName {
  font-size: 13px;
  color: #afb0f0;
  cursor: pointer;
}

#darkFun {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 998;
}

#pop-up {
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 26px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 250px;
  height: 165px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  z-index: 999;
  background-color: #FFF;
  text-align: left;
  padding: 15px;
  font-size: 14px;
}
#pop-up #textpopUp {
  color: gray;
}
#pop-up #buttonsPopUp {
  display: flex;
  justify-content: space-around;
}
#pop-up #buttonsPopUp #confirmDelet, #pop-up #buttonsPopUp #confirmCancel {
  padding: 10px;
  width: 90px;
  cursor: pointer;
  border: none;
  border-radius: 6px;
}
#pop-up #buttonsPopUp #confirmDelet {
  background-color: #ED6468;
  color: #FFF;
}
#pop-up #buttonsPopUp #confirmCancel {
  background-color: #4a4a4d;
  color: #FFF;
}

#profilePicture {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

#replyProfilePicture {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.createComment {
  position: absolute;
  bottom: 22px;
  left: 328px;
  width: 52vw;
  height: 130px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #FFF;
}
.createComment #addComment {
  width: 480px;
  height: 100px;
  border: solid rgb(213, 214, 216) 1px;
  text-align: left;
  background-color: #FFF;
  padding: 4px 6px;
  resize: none;
  font-size: 17px;
}
.createComment #addComment::placeholder {
  font-size: 18px;
  padding-left: 5px;
}
.createComment #addComment:focus {
  padding-top: 5px;
  outline: none;
  caret-color: gray;
}
.createComment #sendComment {
  width: 90px;
  height: 50px;
  cursor: pointer;
  color: #FFF;
  font-size: 17px;
  background-color: #6d6ff0;
  border: none;
  border-radius: 30px;
}
.createComment #newSend {
  display: none;
  width: 90px;
  height: 50px;
  cursor: pointer;
  color: #FFF;
  font-size: 17px;
  background-color: #6d6ff0;
  border: none;
  border-radius: 30px;
}

/*# sourceMappingURL=style.css.map */
