@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Rubik", sans-serif;
}

body {
  background-color: #EAECF1;
  height: 100vh;
}

header {
  background-color: #FFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  gap: 10px;
  padding: 0 20px;
}
header nav ul {
  display: flex;
  align-items: center;
  gap: 50px;
}
header nav ul li button {
  cursor: pointer;
}
header nav ul li #buttonComments {
  background-color: transparent;
  border: none;
  padding: 10px;
}
header nav ul li #buttonProfile {
  background-color: #6d6ff0;
  border: none;
  border-radius: 20px;
  color: #FFF;
  padding: 10px 25px;
}

main {
  width: 65vw;
  height: 546px;
  margin: 30px auto 30px auto;
  overflow: hidden;
  overflow-y: scroll;
}
main::-webkit-scrollbar {
  display: none;
}
main ul {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 15px 0 0 10px;
}
main ul li {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  min-width: 500px;
  max-width: 650px;
  min-height: 120px;
  max-height: 250px;
  background-color: #FFFFFF;
  padding: 7px 15px 7px 7px;
  border-radius: 10px;
}
main ul li #headComment {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main ul li #headComment #profileAndPostingTime {
  display: flex;
  gap: 10px;
}
main ul li #headComment #profileAndPostingTime #userName {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}
main ul li #headComment #profileAndPostingTime #postingTime {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  color: rgb(166, 168, 172);
  font-style: italic;
  font-size: 13px;
}
main ul li #headComment #divReply {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #585ad4;
  font-weight: bold;
  cursor: pointer;
}
main ul li #headComment #divReply #reply {
  width: 21px;
  height: 20px;
}
main ul #commentText {
  width: 100%;
  height: 60%;
  word-wrap: break-word;
  padding: 10px;
}

#profilePicture {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.createComment {
  position: absolute;
  bottom: 45px;
  left: 328px;
  width: 52vw;
  height: 130px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #FFF;
}
.createComment #addComment {
  width: 480px;
  height: 100px;
  border: solid rgb(213, 214, 216) 1px;
  text-align: left;
  background-color: #FFF;
  padding: 4px 6px;
  resize: none;
  font-size: 17px;
}
.createComment #addComment::placeholder {
  font-size: 18px;
  padding-left: 5px;
}
.createComment #addComment:focus {
  padding-top: 5px;
  outline: none;
  caret-color: gray;
}
.createComment #sendComment {
  width: 90px;
  height: 50px;
  cursor: pointer;
  color: #FFF;
  font-size: 17px;
  background-color: #6d6ff0;
  border: none;
  border-radius: 30px;
}

/*# sourceMappingURL=style.css.map */
